@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Girassol);
@font-face {
  font-family: Neutra_Bold;
  src: url("../css/font/NeutrafaceCondensed-Bold.otf") format("opentype"); }
@font-face {
  font-family: Neutra_Light;
  src: url("../css/font/NeutrafaceCondensed-Light.otf") format("opentype"); }
@font-face {
  font-family: TimesNewRoman;
  src: url("../css/font/font-times-new-roman.ttf") format("opentype"); }
@font-face {
  font-family: Archer;
  src: url("../css/font/Archer/Archer-Book-Pro.woff") format("opentype"); }
@font-face {
  font-family: ArcherBold;
  src: url("../css/font/Archer/Archer-Bold-Pro.woff") format("opentype"); }
@font-face {
  font-family: MajHeader;
  src: url("../css/font/Maj/Majesti-Banner-Medium.otf") format("opentype"); }
@font-face {
  font-family: MajNormal;
  src: url("../css/font/majesti-banner-bold-webfont.ttf") format("opentype"); }
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "sans-serif"; }

h1,
h2,
h3 {
  font-family: Neutra_Bold;
  color: #000000bf; }

._relative, .navigation {
  position: relative; }

.btn-ideas, .page-content #home-product .container .border-next .products .item-product-lg .title-product-lg {
  padding: 15px 25px;
  background: #fff;
  border: 2px solid #555;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1); }

.btn-ideas:hover, .page-content #home-product .container .border-next .products .item-product-lg .title-product-lg:hover {
  background: #d3f3e8bf;
  transform: scale(1.0001);
  color: #068e8e; }

.btn-ideas-shadow, .page-content #home-product .container .border-next .products .item-product-lg .title-product-lg {
  box-shadow: 0.625rem 0.625rem #000, 0.9375rem 0.9375rem 0 0.125rem transparent; }

.btn-ideas-shadow:hover, .page-content #home-product .container .border-next .products .item-product-lg .title-product-lg:hover {
  box-shadow: 0.625rem 0.625rem #0c4c4b, 0.9375rem 0.9375rem 0 0.125rem transparent; }

.btn-default {
  background: transparent;
  border: transparent; }

button {
  cursor: pointer; }

button:focus {
  border: none; }

a {
  color: #000000bf; }

a:hover {
  text-decoration: none; }

.cursor, .title-extra, .navigation .navigation-left ul li, .navigation .navigation-left ul li.has-sub::before {
  cursor: pointer; }

.b100 {
  width: 100%;
  clear: both;
  height: 100px; }

.bg-sliver {
  background: lavender; }

.title-extra {
  font-size: 68px;
  font-family: MajHeader;
  text-transform: capitalize;
  font-weight: bold;
  padding: 30px 20px; }
  .title-extra span {
    border-bottom: 2px solid;
    position: relative; }
    .title-extra span::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0%;
      background: #ffffff7d;
      z-index: 0;
      bottom: 0px;
      left: 0px;
      transition: .5s ease-in-out; }
  .title-extra:hover span::before {
    height: 50%; }

.title-ideas {
  padding: 10px 30px;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bolder; }
  .title-ideas::before {
    content: "\ef9c";
    font-family: icoFont;
    display: inline-block;
    background: #fff;
    z-index: 2;
    position: relative;
    font-size: 23px;
    padding: 0px 20px; }
  .title-ideas::after {
    content: "";
    border-top: 2px solid;
    position: relative;
    display: block;
    margin-top: -20px;
    z-index: 0;
    margin-left: 60px; }
  .title-ideas span {
    position: relative;
    z-index: 2;
    background: #fff;
    padding-right: 20px; }

li {
  list-style: none; }

#report {
  font-family: Archer;
  margin: 40px 0px; }
  #report h2 {
    font-family: ArcherBold;
    padding: 10px 0px;
    margin-bottom: 20px;
    position: relative; }
    #report h2::before {
      content: "";
      background: #9fd8ce;
      position: absolute;
      bottom: 0px;
      width: 60px;
      height: 6px; }
  #report .input {
    position: relative; }
    #report .input i {
      position: absolute;
      height: 100%;
      padding: 9px;
      font-size: 20px; }
    #report .input input {
      padding-left: 40px; }

textarea:focus,
input:focus {
  outline: none; }

body {
  position: relative; }

.search {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: .4s ease-in-out;
  padding: 20px 10px;
  top: 0px;
  z-index: 9999; }
  .search .space-input {
    margin-top: 70px;
    padding: 20px; }
    .search .space-input .search-input {
      width: 100%;
      height: 50px;
      background: none;
      border: none;
      border-bottom: 2px solid #cac3c3;
      font-size: 36px;
      font-family: Archer;
      color: #fff; }
    .search .space-input::after {
      content: "Type keyword(s) to search";
      width: 100%;
      padding: 5px 20px;
      font-family: Archer;
      color: #ffffff9e; }
    .search .space-input:focus {
      background: none; }
  .search .content-ajax {
    font-size: 20px;
    color: #ffffffd3;
    overflow-y: scroll;
    max-height: calc(100% - 300px);
    border-radius: 10px;
    background: #0000005e; }
    .search .content-ajax ul li {
      padding: 10px 5px;
      width: fit-content; }
      .search .content-ajax ul li a {
        color: #ffffffd3; }
    .search .content-ajax::-webkit-scrollbar-track {
      border-radius: 20px;
      background-color: white; }
    .search .content-ajax::-webkit-scrollbar {
      width: 6px;
      background-color: rgba(255, 255, 255, 0); }
    .search .content-ajax::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #555; }
  .search .close-search {
    position: absolute;
    z-index: 9999999;
    color: #fff;
    font-size: 50px;
    top: 10px;
    right: 30px;
    cursor: pointer;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .search .close-search:hover {
      color: #c01111; }

.search.active {
  opacity: 1;
  visibility: visible; }

.ft-archer {
  font-family: Archer; }

#trust h1 {
  font-family: MajHeader;
  text-align: center;
  padding: 25px; }
#trust .mono-trust h2 {
  font-family: Archer;
  font-size: 23px;
  padding: 10px 0px; }
#trust .mono-trust .des {
  padding: 0px 20px; }

.wall-sticky {
  width: 100%;
  height: 450px;
  background: url("../../images/banner.png");
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .wall-sticky .logo-page {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0px; }
  .wall-sticky .quote-page {
    text-align: center;
    margin-bottom: 20px; }
    .wall-sticky .quote-page h2 {
      padding: 10px 20px;
      background: #fff; }

footer {
  padding: 100px 20px;
  padding-bottom: 10px;
  margin-top: 50px;
  background: lavender; }
  footer .social-icon li {
    display: inline-block;
    padding: 10px;
    list-style: none; }
  footer .end-footer {
    width: 100%;
    text-align: center; }
    footer .end-footer li {
      display: inline-block;
      padding: 10px;
      font-size: 13px;
      font-family: TimesNewRoman; }
  footer .title-address-footer {
    font-family: ArcherBold;
    color: #21bdd9;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase; }
  footer .address-footer {
    padding: 0px 10px;
    margin-left: 24px;
    font-family: Archer; }
  footer .social-icon {
    text-align: center; }
    footer .social-icon i {
      font-size: 20px;
      line-height: 52px;
      color: #59a6c4; }

.navigation {
  background: #fff;
  border-bottom: 1px solid lavender; }
  .navigation .nav-item-logo {
    margin: 0px 20px; }
    .navigation .nav-item-logo img {
      width: 54px; }
  .navigation .logo-mobile {
    display: none; }
    .navigation .logo-mobile img {
      width: 54px; }
  .navigation .nav-item {
    padding: 10px 20px; }
    .navigation .nav-item a {
      color: #555;
      font-family: ArcherBold;
      text-transform: uppercase; }
      .navigation .nav-item a:hover {
        text-decoration: none; }
  .navigation .mobile {
    display: none; }
  .navigation .search-nav {
    float: right;
    text-align: right;
    width: 100%; }
  .navigation .navigation-left {
    position: fixed;
    top: 0;
    left: -1600px;
    z-index: 1000;
    min-width: 300px;
    width: 70%;
    max-width: 400px;
    background: #fff;
    height: 100%;
    overflow-y: scroll;
    transition: .8s;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform-origin: 0 0; }
    .navigation .navigation-left::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.7); }
    .navigation .navigation-left::-webkit-scrollbar {
      width: 6px;
      background-color: #fff; }
    .navigation .navigation-left::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #555; }
    .navigation .navigation-left .logo-navigation-left {
      padding: 10px 0px;
      text-align: center;
      width: 100%; }
    .navigation .navigation-left ul {
      padding-left: 20px;
      font-family: ArcherBold;
      font-size: 16px; }
      .navigation .navigation-left ul li {
        text-transform: uppercase;
        list-style: none;
        color: #555;
        padding: 10px; }
        .navigation .navigation-left ul li a {
          color: #555;
          text-transform: uppercase; }
          .navigation .navigation-left ul li a:hover {
            text-decoration: none; }
      .navigation .navigation-left ul li.has-sub {
        position: relative; }
        .navigation .navigation-left ul li.has-sub ul {
          display: none; }
        .navigation .navigation-left ul li.has-sub::before {
          content: "\efc2";
          font-family: icoFont;
          position: absolute;
          right: 11px;
          font-size: 16px;
          text-align: center;
          color: #555;
          top: 6px; }
        .navigation .navigation-left ul li.has-sub .sub-item-mobile {
          font-size: 15px; }
          .navigation .navigation-left ul li.has-sub .sub-item-mobile li {
            padding: 5px 10px;
            border-bottom: 1px solid #e4e4e4; }
      .navigation .navigation-left ul li.has-sub.active::before {
        content: "\ef9a"; }
    .navigation .navigation-left .close-nav-left {
      position: absolute;
      right: 0px;
      top: -10px;
      cursor: pointer;
      font-size: 40px;
      color: #555; }
  .navigation .momo {
    transition: .3s; }
  .navigation .momo.active {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 2; }
  .navigation .navigation-left.active {
    left: 0px; }

.navigation.fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
  top: -100px;
  animation: .7s downs forwards; }

@keyframes downs {
  0% {
    top: -100px; }
  100% {
    top: 0px; } }
@media (max-width: 991px) {
  .navigation .mobile {
    display: block;
    font-size: 22px;
    position: absolute;
    z-index: 99; }
  .navigation .search-nav {
    font-size: 22px; }
  .navigation .logo-mobile {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: -1; } }
.page-content #home-custom {
  margin-top: 50px;
  background: #F8F3F4; }
  .page-content #home-custom .features .feature-item-lg {
    margin: 10px 20px; }
    .page-content #home-custom .features .feature-item-lg .thumbnail-lg img {
      width: 100%; }
  .page-content #home-custom .features .feature-item-title-lg {
    padding: 20px 0px;
    width: 100%;
    text-align: center; }
    .page-content #home-custom .features .feature-item-title-lg h3 {
      font-size: 37px;
      font-family: MajNormal; }
  .page-content #home-custom .features .feature-item-sm {
    margin: 10px 0px; }
    .page-content #home-custom .features .feature-item-sm .thumbnail-sm img {
      width: 100%; }
    .page-content #home-custom .features .feature-item-sm .feature-item-title-sm h3 {
      font-size: 16px;
      font-family: Archer, Roboto, "sans serif";
      font-weight: lighter; }
  .page-content #home-custom .features .demarcation {
    height: 20px;
    width: 100%;
    border-bottom: 2px dotted #e4e4e4;
    margin-bottom: 20px; }

.page-content #home-ideas {
  margin: 50px 0px; }
  .page-content #home-ideas .ideas {
    margin-top: 50px; }
    .page-content #home-ideas .ideas .ideas-item {
      margin: 10px;
      margin-bottom: 20px; }
      .page-content #home-ideas .ideas .ideas-item .thumbnail-ideas {
        height: 360px;
        width: 100%;
        overflow: hidden;
        vertical-align: middle;
        text-align: center; }
        .page-content #home-ideas .ideas .ideas-item .thumbnail-ideas img {
          vertical-align: middle;
          transition: .4s ease;
          height: 100%; }
        .page-content #home-ideas .ideas .ideas-item .thumbnail-ideas:hover img {
          transform: scale(1.01); }
      .page-content #home-ideas .ideas .ideas-item .ideas-item-title {
        text-align: center;
        padding: 15px 0px; }
        .page-content #home-ideas .ideas .ideas-item .ideas-item-title h3 {
          font-size: 22px;
          font-family: MajNormal; }

.page-content #home-product {
  background: lavender; }
  .page-content #home-product .container {
    border: 2px solid #555;
    background: #fff;
    padding: 0px; }
    .page-content #home-product .container .border-next {
      margin: 5px;
      border: 2px solid #555;
      padding: 0px 40px;
      background: url("../../images/gh-blue-grid.svg");
      background-size: 20%; }
      .page-content #home-product .container .border-next .header-product {
        text-align: center; }
        .page-content #home-product .container .border-next .header-product h2 {
          font-family: Neutra_Bold;
          font-size: 40px; }
          .page-content #home-product .container .border-next .header-product h2 span {
            padding-top: 160px;
            padding-bottom: 50px; }
          .page-content #home-product .container .border-next .header-product h2::before {
            content: "";
            width: 100%;
            background: url("../../images/institute-logo.png") no-repeat center center;
            display: block;
            height: 144px;
            background-size: contain; }
          .page-content #home-product .container .border-next .header-product h2::after {
            content: "";
            width: 100%;
            background: url("../../images/institute-star.png") no-repeat center center;
            display: block;
            height: 30px;
            background-size: contain; }
      .page-content #home-product .container .border-next .products .item-product-lg .thumbnail-product-lg {
        overflow: hidden; }
        .page-content #home-product .container .border-next .products .item-product-lg .thumbnail-product-lg img {
          width: 100%;
          transition: .4s ease;
          cursor: pointer; }
        .page-content #home-product .container .border-next .products .item-product-lg .thumbnail-product-lg:hover img {
          transform: scale(1.01); }
      .page-content #home-product .container .border-next .products .item-product-lg .title-product-lg {
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center; }
      .page-content #home-product .container .border-next .products .item-product-sm {
        margin: 10px; }
        .page-content #home-product .container .border-next .products .item-product-sm .thumbnail-product-sm {
          overflow: hidden; }
          .page-content #home-product .container .border-next .products .item-product-sm .thumbnail-product-sm img {
            width: 100%;
            transition: .4s ease;
            cursor: pointer; }
          .page-content #home-product .container .border-next .products .item-product-sm .thumbnail-product-sm:hover img {
            transform: scale(1.05); }
        .page-content #home-product .container .border-next .products .item-product-sm .title-product-sm {
          text-align: center;
          font-family: Neutra_Light;
          padding: 15px; }

.page-content #home-feed {
  margin-top: 100px; }
  .page-content #home-feed .all-feed h3 {
    margin-bottom: 20px;
    font-family: MajHeader;
    color: #555;
    text-align: center; }
    .page-content #home-feed .all-feed h3 span {
      padding-top: 20px;
      padding-bottom: 40px; }
    .page-content #home-feed .all-feed h3::before {
      content: "\ef9c";
      font-family: icoFont;
      width: 100%;
      font-size: 16px;
      display: block; }
  .page-content #home-feed .all-feed .list-feed {
    position: relative;
    padding-bottom: 10px 5px;
    border-top: .125rem solid; }
    .page-content #home-feed .all-feed .list-feed .item-feed {
      padding-top: 45px;
      padding-left: 10px;
      padding-right: 10px; }
      .page-content #home-feed .all-feed .list-feed .item-feed .thumbnail-feed img {
        width: 100%; }
      .page-content #home-feed .all-feed .list-feed .item-feed .title-item-feed h4 {
        font-size: 16px;
        font-family: Archer; }
      .page-content #home-feed .all-feed .list-feed .item-feed .title-item-feed p {
        font-size: 14px;
        font-family: Archer;
        font-style: italic; }
    .page-content #home-feed .all-feed .list-feed::after {
      content: "";
      vertical-align: middle;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: -.5rem;
      width: .9375rem;
      height: .9375rem;
      background: #fff;
      border-top: .0625rem solid #000;
      border-right: .0625rem solid #000;
      transform: rotate(135deg); }

.page-content #home-post {
  margin: 50px 0px;
  padding: 40px 20px; }
.page-content .item-post-sm {
  margin: 5px;
  margin-top: 40px; }
  .page-content .item-post-sm .thumbnail-item-sm {
    max-height: 270px;
    overflow: hidden;
    width: 100%; }
    .page-content .item-post-sm .thumbnail-item-sm img {
      width: 100%; }
  .page-content .item-post-sm .tite-item-sm {
    text-align: center;
    padding: 10px 0px; }
    .page-content .item-post-sm .tite-item-sm h4 {
      font-family: Archer;
      font-size: 18px; }

/*# sourceMappingURL=main.css.map */
